extends layout

block content
  a(href='/google-auth') Google
  h1 Prediction Form:
  br
  p Enter a location to predict the quality of the next sunrise/sunset:
  br

  body
    form(action='/predict', method='POST')
      p
        | Location:
        input#loc(type='text', name='location', value='Boston')
      br
      input(type='submit', value='Submit')
    br

