extends layout

block content
  h1 Prediction Form:
  br
  p Enter a location to predict the quality of the next sunrise/sunset:
  br

  body
    form(action='/predict', method='POST')
      p
        | latitude:
        input(type='text', name='lat', value='')
        |          longitude:
        input(type='text', name='long', value='')
      br
      input(type='submit', value='Submit')
    br
