extends layout

block content
    h1 Posts for #{place}
    br
    body
        br
        br
        h2 #{closestPosts.username}
        h3 #{closestPosts.Latitude}
        h3 #{closestPosts.Longitude}
        br
        a(class='button' href='/searchPosts') Back